body
{
    background-color: #F5F5F5;        
}

.contenedor
{
    margin-top: 25px;
    margin-left: 5%;   
    min-width: 580px;
}

h2
{
    margin-top: 30px;
    margin-left: 8%;
    color: buttontext;
}

form
{
    margin-top: 50px;   
}

label
{
    font-size: 1.2em;
}

.enviar
{
    width: 100px;
    height: 30px;
    color: white;
    background-color: darkslategray;
    margin-left: 2%;
}

.resultados{
    width: 43%;
    min-width: 990px;
    height: 60px;
    margin-top: 20px;
    border: 1px solid black;
}

.resultados span
{
    margin-left: 5%;
}

.iquierda
{
    width: 35%;
    float: left;
    margin-top: 10px;
}

.derecha
{
    width: 20%;
    min-width: 150px;
    float: left;
    line-height: 60px;    
    text-align: center;
    font-size: 1.5em;
    border-left: 1px solid black;
}

.tipoPorcentaje
{
    font-size: 0.8em;
}

@media (max-width: 1920px) {
    .resultados{
       // width: 60%;
    }
}

@media (max-width: 1710px) {
    .resultados{
        width: 70%;
    }
}

@media (max-width: 1350px) {
    .resultados{
        width: 80%;
    }
}

@media (max-width: 1180px) {
    .resultados{
        width: 90%;
    }
}

@media (max-width: 1150px) {
    .resultados{
        width: 95%;
    }
}